body {
	background-color: black;
	font-family: Radiance;
	color: #b3b3b3;
	margin: 0;
	padding: 0;
}
hr {
	width: 95%;
	border: 0.5px solid #525252;
}
h2, h3 {
	color: white;
}
#toc_container {
	box-sizing: border-box;
  background-color: rgba(29, 30, 32, 1);
  float: left;
  width: 350px;
  height: 100%;
  display: table;
  position: fixed;
  background: url(wallpapers/left-div.png);
	background-size: cover;
	z-index: 1;
}
.toc_list a {
	text-decoration: none;
	color: #b3b3b3;
}
.toc_title {
	text-align: center;
	margin-bottom: 0;
}

#toc_container li, #toc_container ul, #toc_container ul li{
    list-style: outside none none !important;
}
.divisionmain {
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	box-sizing: border-box;
	width: 830px;
	float: left;
	position: relative;
	padding-top: 0px;
	margin-left: 350px;
	background-color: rgba(5, 5, 5, 1.0);	
	box-shadow: 15px 0px 10px -10px #181818, -15px 0px 10px -10px #181818;
	z-index: 3;

}
.maintitle{
	box-sizing: border-box;
	border: 1px solid rgba(5, 5, 5, 1.0);
	line-height: 0;
	padding-left: 25px;
	margin: 0;
	font-size: 100%;
	width: 100%;
	height: 250px;
	background: url(wallpapers/corsair-krul-1.png);
	background-size: cover;
}
.divisiontop {
	box-sizing: border-box;
	height: 100%;
	width:350px;
	margin-left: 1180px;
	padding-top: 1px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: rgba(29, 30, 32, 1);
	position: fixed;
	 background: url(wallpapers/right-div.png);
	background-size: cover;
	z-index: 2;
}
.divisionbottom {
	box-sizing: border-box;
	height: 50px;
	width: 360px;
	border: 5px solid #181818;
	margin-left: 1155px;
	padding-top: 1px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: rgba(14, 14, 14, 0.9);
	position: fixed;
	bottom: 1px;
	overflow: hidden;
	transition: height 0.5s;
}
.divisionbottom:hover {
	height: 500px;
}
th, td {
	border-collapse: separate;
	border: 1px solid #202020;
	border-radius: 1px;
	background-color: #181818; 
}
.aptable {
	border-spacing: 7px 7px;
}
table.aptable th {
	padding-left: 10px;
}
.ictable {
	border-spacing: 7px 7px;
}
table.ictable td {
	padding-top: 1px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
}
table.ictable p {
	text-align: center;
}
table.ictable img {
	margin-left: 10px;
	margin-bottom: 5px;
}
.thtable {
 	border-spacing: 7px 7px;
}
table.thtable td {
	padding-left: 10px;
	padding-right: 10px;
}
.prftable {
	border-spacing: 1px 15px;
}
.prftable td {
	border-collapse: collapse;
	border: 1px hidden;
	padding-left: 10px;
	background-color: rgba(14, 14, 14, 0.0)
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #0e0e0e; 
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
 }
